<!-- alap oldal ide, ahol lehetséges lesz majd az adatrögzítés -->

<!-- TODO:ami itt van lent: ⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇ -->

<!-- dátum, min hőmérséklet, max hőmérséklet, csak a jövőbe lehet, és időjárás[✔✔✔]:{
    (napsütés), (felhőzet), (eső > zápor > zivatar), (szél),
    (hó > jégeső), (párolgás > köd)}
-->


<h2>Főoldal</h2>
<div id="alertPh"></div>
<div class="row">
    <div class="form-floating mb-3 col-12 col-lg-4">
        <div class="form-floating">
            <input type="date" class="form-control" id="dateInput" placeholder="">
            <label for="dateInput">Dátum</label>
        </div>
    </div>

    <div class="form-floating mb-3 col-12 col-lg-4">
        <div class="form-floating">
            <input type="number" class="form-control" id="minTemp" placeholder="">
            <label for="minTemp">Minimum hőmérséklet</label>
        </div>
    </div>

    <div class="form-floating mb-3 col-12 col-lg-4">
        <div class="form-floating">
            <input type="number" class="form-control" id="maxTemp" placeholder="">
            <label for="minTemp">Maximum hőmérséklet</label>
        </div>
    </div>
</div>

<div class="row g-0 text-end">
    <div class="col-sm-6 col-md-11">
        <div class="input-group">
            <label class="input-group-text" for="idojarasSelect">Válassz időjárást!</label>
            <select class="form-select" id="idojarasSelect">
                <option selected>Választás...</option>
                <option value="napsutes">Napsütés</option>
        
                <option value="felhozet">Felhőzet</option>
        
                <option value="eso">Eső</option>
                <option value="zapor">Zápor</option>
                <option value="zivatar">Zivatar</option>
        
                <option value="szel">Szél</option>
        
                <option value="ho">Hó</option>
                <option value="jegeso">Jégeső</option>
        
                <option value="parolgas">Párolgás</option>
                <option value="kod">Köd</option>
            </select>
        </div>
    </div>

    <div class="col-6 col-md-1">
        <button class="btn btn-primary addBtn" onclick="addWeather()" id="addBtn">Hozzáadás</button>
    </div>
</div>

<br>

<table class="table table-hover">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-start">Dátum</th>
            <th class="text-center">Min. Hőmérséklet</th>
            <th class="text-center">Max. Hőmérséklet</th>
            <th class="text-start">Időjárás</th>
            <th class="text-end">Műveletek</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
        
    </tfoot>
</table>