<h3>Bejelentkezés</h3>

<form>
    <div class="mb-3">
      <label for="emailaddInput" class="form-label">Email cím</label>
      <input type="email" class="form-control" id="emailaddInput" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="passwordInput" class="form-label">Jelszó</label>
      <input type="password" class="form-control" id="passwordInput">
    </div>

    <div id="alertPh"></div>
    <button class="btn btn-primary" onclick="login()">Bejelentkezés</button>
</form>