<h2>Regisztráció</h2>

<form>
    <div class="mb-3">
        <label for="nameInput" class="form-label">Név:</label>
        <input type="text" class="form-control" id="nameInput">
    </div>
    <div class="mb-3">
      <label for="emailaddInput" class="form-label">Email cím:</label>
      <input type="email" class="form-control" id="emailaddInput" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="passwordInput" class="form-label">Jelszó:</label>
      <input type="password" class="form-control" id="passwordInput">
    </div>
    <div class="mb-3">
        <label for="passwordInputAgain" class="form-label">Jelszó újra:</label>
        <input type="password" class="form-control" id="passwordInputAgain">
    </div>

    <div id="alertPh"></div>
    <button class="btn btn-primary" onclick="registration()">Regisztráció</button>
</form>