footer {
    text-align: center;
    margin-top: 2%;
}

#themeSwitch {
    display: block;
    text-align: right;
    margin: 0 auto;
}

.hide {
    display: none;
}

header {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

main {
    margin-top: 2%;
}

/*
.addBtn {
    width: 90%;
}
*/