footer {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    padding-bottom: 1%;
}

#themeSwitch {
    display: block;
    text-align: right;
    margin: 0 auto;
}

.hide {
    display: none;
}

header {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
}

main {
    margin-top: 2%;
}

.navbar {
    border-radius: 10px;
}

.viewTitle {
    margin-left: 1%;
}

.lightThemeBgc {
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

.darkThemeBgc {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.darkThemeContainer {
    background-color:  #212529;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
}

.lightThemeContainer {
    background-color: #e9ecef;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
}